
<div class="newevent-landing">

<h2>{{currentUserInfo.firstName}}, Create a new event below:</h2>

<form method="POST">
    <div class="newevent-form">
        <label for="nameOfEvent">Event Title</label>
        <input type="text" id="title" name="title" class="form-control">
        <label for="locationOfEvent">Location of the event</label>
        <input type="text" id="location" name="location" class="form-control">
        <label for="dateOfEvent">Date of the event</label>
        <input type="date" name="date" data-date-format="DD/MM/YYYY"/>        
        <label for="timeOfEvent">Starting time of the event</label>
        <input type="time" id="time" name="time" class="form-control" min="06:00" max="24:00">
        <small>Events can be scheduled between 6AM and 12AM</small>
        <button type="submit"> Create New Event </button>
    </div>
</form>

</div>