<h1>Hola</h1>
<h2> {{currentUserInfo.firstName}} {{currentUserInfo.lasttName}} </h2>

<a href="/events/new-event"> Create a new event </a>
<a href="/members/comunity"> Connect to our comunity </a>
<a href="/events/events-all"> Check out events </a>


