<section class="cards">
  <article class="card">
    <picture class="thumbnail">
         <img class="category__01" src="/images/citydefult.jpeg" alt="" />
    </picture>
      <h2>{{location}}</h2>
      <h5>{{date}}</h5>
      <p>{{time}}</p>
   </div>
  </article>
</section>