<section class="cards">
  <article class="card">
    <picture class="thumbnail">
         <img class="category__01" src="/images/defultavatar.png" alt="" />
    </picture>
      <h2>{{firstName}} {{lastName}}</h2>
      <p>You can find this user in {{city}}.</p>
   </div>
  </article>
</section>