<div class="cities">
<h1>Project 0</h1>
<h3>We are currently growing our worldwide comunity</h3>
<h6>You can find active members in each of the following cities</h6>

{{#each users}}
<h6>{{city}}</h6>
{{/each}}

</div>