<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <nav>
        <a href="/"><img src="/images/wave-logo-png-13.png" alt=""></a>
    <div class="hamburger">
        <ul>
        <li class="line"></li>
        <li class="line"></li>
        <li class="line"></li>
        <li class="line"></li>
        </ul>
    </div>
    <ul class="nav-links">
        {{#if isUserLoggedIn}}
        <li><a href="/members/user-profile">Hello {{ currentUserInfo.firstName }}</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href='/members/user-profile'>Profile</a></li>
        <li><a href="/about">About Project 0</a></li>
        <li><a href="/auth/logout"> Log Out </a></li>
        {{else}}
        <li><a href="/cities">Cities</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/about">About Project 0</a></li>
        {{/if}}
    </ul>
    </nav>
    <main>
{{{body}}}
    </main>
    
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
	   <h4>Project 0</h4>
        {{#if isUserLoggedIn}}
                    <a class="" href="/">Home</a>
                    <a href="/members/user-profile">Profile</a>
                    <a href="/cities">Cities</a>
                    <a href="/about">About</a>   
                    <a href="/auth/logout">Log Out</a>
        {{else}}
                    <a class="" href="/">Home</a>
                    <a href="/cities">Cities</a>
                    <a href="./auth/signup">Signup</a>
                    <a href="/auth/login">Login</a>
                    <a href="/about">About</a>   
        {{/if}}             

</div>
</div>
</div>
</div>
    <script src="/animations/animation.js"></script>
</body>
</html>